.App {
  text-align: center;
  background-color: #b5b5b5;
  min-height: 100vh;
<<<<<<< HEAD
=======
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
>>>>>>> 155ebd235dc802ffea0c7ac7c3d3f20c44e1d0e7
}